@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


/* Zorg dat de footer altijd onderaan blijft, zelfs als de content kort is */
html, body {
    height: 100%; /* Zorg ervoor dat html en body de volledige hoogte van het scherm hebben */
    margin: 0; /* Verwijder standaard marges */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Dit zorgt ervoor dat de content de resterende ruimte opvult */
}

/* Footer los van de content */
footer {
    margin-top: 20px; /* Voeg een kleine ruimte toe boven de footer */
}

/* Initial overlay background */
#intro-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0e403f, #193c6a);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    height: 100vh;
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease;
}

.intro-text {
    font-size: 3rem;
    transform: scale(0.8);
    opacity: 0;
    animation: fadeInScale 1.5s forwards;
}

.intro-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFC107;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 8px;
    opacity: 0;
    animation: fadeInScale 2s forwards;
}

/* Keyframes for text and button animation */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fade out overlay */
#intro-overlay.fade-out {
    opacity: 0;
    visibility: hidden;
}

/* Show main content after animation */
#main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}
#main-content.show {
    display: block;
    opacity: 1;
}

.shine {
    font-size: 1.3em;
    font-weight: 1000;
    color: rgba(255, 255, 255, 0.703);
    background: #222 -webkit-gradient(
        linear,
        left top,
        right top,
        from(#222),
        to(#222),
        color-stop(0.9, #fff)
      ) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(
      -40deg,
      transparent 0%,
      transparent 40%,
      #fff 50%,
      transparent 60%,
      transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-background-size: 50px;
    -webkit-animation: zezzz;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes zezzz {
    0%,
    10% {
      background-position: -200px;
    }
    20% {
      background-position: top left;
    }
    100% {
      background-position: 200px;
    }
  }

/* Original background */
.background-gradient {
    background: linear-gradient(to right, #222, #222 90%, #fff 90%);
}

/* Hover effect */
.background-gradient:hover {
    background: linear-gradient(to right, #dae369, #dae369 90%, #fff 90%);
}
